body,
ul,
li,
h1,
h2,
h3,
a,
button {
  margin: 0;
  padding: 0;
  font-family: arial;
}
header {
  background-color: #f63232;
  padding: 20px;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}
header h1 {
  color: white;
  border: 8px solid white;
  padding: 6px 12px;
  display: inline-block;
  border-radius: 36px;
}
.banner {
  position: relative;
  left: 0;
}
.banner img {
  max-width: 100%;
}
.banner .welcome {
  background-color: #000000;
  color: white;
  padding: 30px;
  position: absolute;
  left: 0px;
  top: 30%;
  text-align: center;
}
.banner h2 {
  font-size: 74px;
}
.banner h2 span {
  font-size: 1.3em;
}
nav {
  background-color: #f4f4f4;
  max-width: 100%;
  padding: 20px;
  position: sticky;
  top: 106px;
}
nav {
  background-color: #f4f4f4;
  padding: 20px;
  position: sticky;
  top: 106px;
}
nav ul {
  white-space: nowrap;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
nav li {
  width: 25%;
  display: inline-block;
  font-size: 24px;
}
nav li a {
  text-decoration: none;
  color: #4b4b4b;
}
nav li a.join {
  color: #f63232;
}
/* Styles pour le formulaire */
form {
  margin: 20px auto;
  max-width: 800px;
  padding: 20px;
  background-color: #ffffff; /* blanc */
  border-radius: 5px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input,
form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #333333; /* gris foncé */
  border-radius: 5px;
}

form button {
  background-color: #ff0000; /* rouge */
  color: #ffffff; /* blanc */
  border: none;
  padding: 15px 32px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-size: 80px;
  display: inline-block;
  max-width: 100%;
}

form button:hover {
  background-color: #f63232; /* rouge plus foncé */
}
article h2 {
  color: #f63232;
  font-size: 48px;
}
article h3 {
  color: #4b4b4b;
  font-size: 35px;
}
article p {
  line-height: 2em;
  color: #4b4b4b;
}
.images {
  text-align: center;
  margin: 80px 0;
  white-space: nowrap;
}
.images li {
  max-width: 40%;
  display: inline-block;
  margin: 20px 5%;
}
.images li img {
  max-width: 100%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
.images li img:hover {
  transform: translateY(-100px);
}

button {
  background-color: #f63232; /* rouge */
  color: #ffffff; /* blanc */
  border: none;
  padding: 15px 32px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  align-items: center;
  font-size: 16px;
  display: inline-block;
}
button a {
  color: white;
  text-decoration: none;
}
div h3 {
  color: #f63232;
  font-size: 48px;
}
div p {
  line-height: 2em;
  color: #4b4b4b;
}
div ul {
  color: #f63232;
  font-size: 24px;
  line-height: 3em;
}
p {
  font-size: 22px;
}
section.join {
  background-color: #f4f4f4;
  text-align: center;
  padding: 60px 20px;
  color: #4b4b4b;
}
.join h3 {
  font-size: 36px;
}
footer {
  background: #f63232;
  padding: 10px;
  text-align: center;
}
.bottom-nav {
  position: static;
}
.About {
  text-align: center;
}
.location {
  background-image: linear-gradient(to right, #4b4b4b, #4b4b4b);
}
.location h2 {
  color: #f63232;
  font-size: 48px;
}
@media screen and (max-width: 1400px) {
  .banner .welcome {
    font-size: 40px;
  }
}

@media screen and (max-width: 960px) {
  .banner .welcome {
    font-size: 28px;
  }
  nav li {
    font-size: 18px;
  }
}

@media screen and (max-width: 700px) {
  .banner .welcome {
    font-size: 20px;
    position: relative;
    text-align: center;
  }
  .banner .welcome br {
    display: none;
  }
  .banner .welcome span {
    font-size: 1em;
  }
  nav li {
    font-size: 18px;
  }
  .images li {
    width: 100%;
    display: block;
    margin: 20px auto;
  }
}

@media screen and (max-width: 560px) {
  .banner .welcome {
    font-size: 20px;
    position: relative;
    text-align: center;
  }
  .banner .welcome br {
    display: none;
  }
  .banner .welcome span {
    font-size: 1em;
  }
  nav li {
    display: block;
    width: 100%;
    margin: 12px 0;
  }
  article h2 {
    font-size: 36px;
  }
  header,
  nav {
    position: relative;
    top: 0;
  }
}
